@import "tailwindcss";

@theme {
  --color-pet-blue: #1E3A8A;
  --color-pet-orange: #F97316;
  --color-pet-pink: #FBCFE8;
}

/* Ẩn thanh cuộn nhưng vẫn giữ tính năng cuộn */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE và Edge */
  scrollbar-width: none;  /* Firefox */
}